*.log
node_modules/
.DS_Store
*.log
node_modules/
.DS_Store
build/
dist/
*.exe
*.pkg
*.spec
__pycache__/
*.log
instance/
archives/
uploads/
*.db
*.xlsx
fix_template*.py
find_broken.py
debug_log.py
temp_previews/
outputs/images/
outputs/videos/
outputs/test_fix/
profiles/*/temp/
profiles/*/temp/**
profiles/*/videos/
profiles/*/backgrounds/
profiles/*/topics.txt
profiles/*/settings.json
profiles/*/credentials/cred_client_secrets.json
.venv
